<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body class="container">
    <header><%- include('./partials/header'); %></header>

    <main>
      <div>
        <h2>Faces of die is <%=faces%></h2>
        <h2>number of dies is <%=num_of_dices%></h2>
        <h2>randoms is <%=randoms%></h2>
        <form method="post" action="/response" target="_blank">
          <input type="submit" value="next" />
        </form>
      </div>
    </main>

    <footer><%- include('./partials/footer'); %></footer>
  </body>
</html>
